# Файл с секретными переменными окружения
.env

# Python кэш
__pycache__/
*.pyc
*.pyo
*.pyd

# Папки виртуальных окружений
venv/
env/
.venv/

# Локальные настройки IDE
.idea/
.vscode/

# Лог-файлы
*.log
